In [1]:
                                               MODULE = 2

In [2]:
#defining a variables

x = 20
print(x)

20

In [ ]:
#Identifier-variables Name

1.Variables name can be start with_or alphabets
2.Variables name can be contain_,alphabets numbers
3.You can use keywords

In [ ]:
#Alphabets data value

khushal = 100
krishil = 50
#print(khushal,krishil)

khushal = 100
krishil = 50
jeel    = 100

khushal = krishil
krishi  = khushal
krishil = jeel
print(khushal,krishil)

In [ ]:
#short cross value

a = 100
b = 50
#print(a,b)

a,b = b,a
print(a,b)

In [ ]:
#multiple variables single value 

a = b = c = 10
print(a,b,c)

In [ ]:
#multiple variables multiples values

a,c,b = 40,76,98
print(a,b,c)

In [ ]:
#data/value : intormation

int   : integer = 0,1,2,3,4,5,-90,-56767
float : 4.5,66.7,0.1
str   : 'string' single quotes|double quotes character,word,sentence,single limultiline string : triple quotes

In [ ]:
#bool : boolean tapy sha

True and False

In [ ]:
1.list  : a = [1,2,3,4]
2.tuple : a = (1,2,3,4,5)
3.set   : a = {1,2,3,4,5,6}
4.dict  : a = {'kite' : 'one type of festival'}

In [ ]:
string = {1,2,3}
type(string)

In [ ]:
str1 = 'li''on'
print(str1)

In [ ]:
#operator : who does the work , who performs something
#operands : on which operatar does the work

In [ ]:
#Types of operator

1.Arithmentic operator
2.Assignement operator
3.Logical operator
4.Comparison operator
5.Identity operator
6.Membership operator

In [ ]:
#1.Arithmentic operator

1.+   :addition operator
2.-   :substraction   
3.*   :(asteriak):multiplication
4./   :(forward slash):division operator
5.%   :modulo
6.**  :power
7.//  :floor division

In [ ]:
#addition operator

a = 4
b = 7
a + b
print(a+b)

In [ ]:
a = 20
b = 48
a - b
print(a-b)

In [ ]:
a = 8
b = 9
a * b
print(a*b)

In [ ]:
#return type will float

a = 10
b = 9
a / b
print(a/b)

In [ ]:
#returns the reminder

a = 17
b = 10
a % b
print(a%b)

In [ ]:
#(base)**(power)

a = 5
b = 7
a ** b
print(a**b)

In [ ]:
#floor division

a = 15
b = 8
a // b
print(a//b)

In [ ]:
2.Assignement operator

1.=
2.+=
3.-=
4.*=
5./=
6.//=
7.**=
8.%=

In [ ]:
#Assignement operator

a = 13 
a //= 2      #(a = 13 // 4)
print(a)

In [ ]:
a = 10
a += 5       #(a = a + 5)
print(a)

In [ ]:
a = 10
a -= 5       #(a = a - 5)
print(a)

In [ ]:
a = 10
a *= 5       #(a = a * 5)
print(a)

In [ ]:
a = 10
a /= 5       #(a = a / 5)
print(a)

In [ ]:
a = 13
a //= 5      #(a = a // 4)
print(a)

In [ ]:
a = 80
a **= 0      #(a = a ** 0)
print(a)

In [4]:
a = 19
a %= 8       #(a = a % 8)
print(a)

3

In [5]:
#we should not use _ as perfix usualiy

_jeel_   = 89
_jeel_   =  _jeel_
#variable = variable

In [6]:
_23 = 54
jeel = '_jeel_'
print(jeel)

_jeel_

In [ ]:
#4.Comparison operator

>  (greater than)
<  (less than)
<= (less than or rquais to)
>= (greater than or equais to)
== 
!=

In [ ]:
80 > 90

In [ ]:
80 < 90

In [ ]:
80 <= 90

In [ ]:
80 >= 90

In [ ]:
90 == 90

In [ ]:
90 != 90

In [ ]:
90 != 8

In [ ]:
#3.Logical operator

and    #true hovu joi ae 
or
not

In [ ]:
and : it both sides ar true then if returns true
or  : if one of the sides true then is returns true

In [ ]:
#and

r = 90
90 > 34 and r > 34

In [ ]:
#or 

r = 90
12 < 34 or r < 34

In [ ]:
#not

true nu false
false nu true

In [ ]:
#5.Identity operator

is
is not

In [ ]:
#is

a = 23
b = 23
a is b
print(id(a),id(b))

In [ ]:
#is not

a = 23 
a = 23
a is not b
print(id(a),id(b))

In [ ]:
#6.Membership operator

in 
not in

In [ ]:
#in

4 in [1,2,3,4]

In [ ]:
#ont in

14 not in [1,2,3,14]

In [ ]:
#conditional statements

if
if elses
elif (elif laddre)
mested if

In [ ]:
#sysntax

if condition:
    boc(block of code/suite)

In [ ]:
#if

a = 3.4
if a > 0:
    print('jeel')
    print('krishil')
print('krish')

In [ ]:
a = 80
if a > 0:
    print('jeel')

In [ ]:
#input() na tye = 2

it takes the input value
it changes type into str

In [ ]:
a = int(input())
if a > 0:
    print('positive')
else:
    print('negetive')

In [ ]:
a = int(input())
if a > 65:
    print('positive')
elif a == 0:
    print('zero')
else:
    print('negetive')

In [ ]:
#elif ladcler

num = float(input())
if 90 <= num <= 100:
    print('Grade A')
elif 80 <= num <= 89:
    print('Grade B')
elif 70 <= num <= 79:
    print('Grade c')
elif 60 <= num <= 69:
    print('Grade c') 
elif 50 <= num <= 59:
    print('Grade c')
elif 0 <= num <= 49:
    print('Grade c')
else:
    print('invalid')

In [ ]:
#nested if

num = int(input())
if num <= 0:
    if num == 0:
        print('zero')
    else:
        print('negetive')
else:
    print('positive')

In [ ]:
wing = 'bheenu'
society = 'bheenu'
mainrod = 'bheenu'

if wing == 'bheenu':
    if society == 'bheenu':
        if mainrod == 'bheenu':
            print('varsaad')
        else: 
             print('not varsaad')
    else:
         print('not varsaad')
else:
    print('not varsaad')

In [ ]:
#loop

1.while
2.for

In [ ]:
#1.while

a = 1
while a < 10:
    print('nihar',a)
    a+=1

In [ ]:
a = 15
while a > 5:
    print('nihar',a)
    a-=1

In [ ]:
#syntax
#iterable : can be iterated
#list,set,string,tuple,dict

In [ ]:
#for variable in iterable:
#     boc

for a in [2,45,6.7,8]:
    print(a)
for i in (34,23,56,67):
    print(i)
for b in {'a':3,'b':56}:
    print(b)

In [ ]:
#range(start,stop,step)
#stort,step:optional
#stop(exclusive):mandetory
#default start = 0
#default step = +1

In [ ]:
for i in range(2,8,2):
    print(i)
for i in range(0,-10,-1):
    print(i)
for i in range(5):
    print('nihar')

In [ ]:
#control statements

1.break = it terminates the loop right away
2.continue = it skips the currents iteration and continues with the next one
3.pass = it prevents error

In [ ]:
#1. break

for i in range(10):
    if i == 5:
        break
        print(i)

In [ ]:
#2. continue 

for i in range(5):
    for j in 'ABC':
        if i == 2 and j == 'c':
            break
        else:
            print(i,j)

In [8]:
#3. pass

for i in range(5):
    print(i)
    pass

0
1
2
3
4

In [ ]:
# characteristics

1.oredered
2.indexed
3.immutable

In [ ]:
#positive indexing (left to right)
# 0,1,2,...
# a[2]

#neggtive indexing (right to left)
#-1,-2,-3,....
#a[-5]

In [ ]:
a = 'krishil'
b = 'lion'
res = b + a
print(res)

In [ ]:
#string slicling
#[start:stop:step]

In [ ]:
str1 = 'python'
a = str1 [2:5]
a

In [ ]:
str1 = 'this is python language'
str1[:6]

In [ ]:
#Escape characters
#back slash : \n
#\n : new line
#\b : backspace
#\t : tab

In [ ]:
#raw string

str1 = r'kjhfygnbjgrkygmnabhgtkyutghn\\\\askdhit7uh8756456**'
print(str1)

In [ ]:
#methads
#string methad()

str1 = 'google is a search engine.'
res = str1.capitalize()
print(res)

In [ ]:
#string first character will be uppercase(capital)
#and rest of the character will be lowercase

In [ ]:
str1 = 'python LANGUAGE'
str1.casefold()
#all the character of string will be in lowercase (forcefally)

In [ ]:
str1 = 'python LANGUAGE'
str1.lower()
#all the character of string will be in lowercase

In [ ]:
str1 = 'python LANGUAGE'
str1.upper()
#all the character of string will be in uppercase

In [ ]:
str1 = 'python LANGUAGE'
str1.title()
#firs char of every word will be uppercase and rest of the characters will be  lowercase

In [ ]:
str1 = 'python programing graohics'
str1.count('gra')
#finds the occurence of substring

In [ ]:
str1 = 'python'
str1.endswith('thon')
#wheather the sting ends with given subtring or not

In [ ]:
str1 = 'python'
str1.startswith('p')
#wheather the string starts with given substring or not

In [ ]:
str1 = 'klte'
str1.expandtabs(4)

In [ ]:
str1 = 'python programing graohics'
str1.find('p')
#left to right on first occurence
#raisrs an error if subtring is not present else returns LNDEX

In [ ]:
str1 = 'python programing graohics'
str1.rfind('pioasd')
#right to left on first occurence
#gives-1 if subtring is not present else returns INDEX

In [ ]:
str1 = 'python programing graohics'
str1.rindex('python')

In [ ]:
#{}-placeholders

str1 = 'kite run{}ner'
str1.format(100)

In [ ]:
str1 = '10'
str1.center(10,'#')
#center (total ctotal characters fill character)

In [ ]:
str1 = '10'
str1.ljust(10,'8')
#alians leftside

In [ ]:
str1 = '10'
str1.rjust(20,'#')
#alians rightside

In [ ]:
str1 = '10'
str1.zfill(10)
#alians right side side and 
#fills rest of the characters with

In [ ]:
#Iterable : string,list,tuple,set,dict

In [ ]:
str1 = 'highest'
str1.join('figma')

In [ ]:
str1 = 'th is is py th on'
str1.split()
#returns in list
#if substring is given thrn it will splits that string from that chars

In [ ]:
str1 = 'th is is py th on'
str1.rsplit()

In [ ]:
lines = int(input())
for i in range(lines-lines//2):
    str1=''
    for j in range(i+1):
        str1 +='* '
    upper = str1.center(lines)
    print(upper)
for a in range(lines-lines//2-1,0,-1):
    str1=''
    for b in range(a):
        str1+='* '
    lower = str1.center (lines)
    print(lower)

In [10]:
str1 = 'q w e r t y  .'
str1.strip()
#removes whitespaces from both sides

'q w e r t y  .'

In [11]:
str1 = 'q w e r t y  .'
str1.lstrip()
#removes whitespaces from left side ONLY

'q w e r t y  .'

In [12]:
str1 = 'q w e r t y  .'
str1.rstrip()
#removes whitespaces from rightsid ONLY

'q w e r t y  .'

In [13]:
str1 = 'q w e r t y  .'
str1.swapcase()
#changes the case of each character into oposite

'Q W E R T Y  .'

In [14]:
str1 = 'python'
str1.partition('y')
#exactly 3 parts from left to right

('p', 'y', 'thon')

In [15]:
str1 = 'python'
str1.rpartition('t')
#right to left

('py', 't', 'hon')

In [16]:
str1 = 'python'
str1.splitlines()
#returns a list containing lines

['python']

In [17]:
str1 = 'kite12runner'
str1.isalnum()
#alphanumeric
#all characters must be alphabets or num bers

True

In [18]:
str1 = 'kite12runner'
str1.isalpha()
#all charactera must be alphabets only

False

In [19]:
str1 = 'kite12runner'
str1.isascii()
#all characters must be from ascii table

True

In [20]:
str1 = '0123456789'
str1.isdecimal()
#all characters must be from 0 to 9

True

In [21]:
str1 = '2'
str1.isdigit()
#all characters mus be digits

True

In [22]:
str1 = '3456'
str1.isidentifier()
#all charecters must be num bers

False

In [23]:
str1 = 'high'
str1.islower()
#all aplphabet characters must be in loweracase

True

In [24]:
str1 = 'high'
str1.isupper()
#all aplphabet characters must be in uppercase

False

In [25]:
str1 = 'polo'
str1.isspace()
#all characters must be white space characters

False

In [26]:
str1 = 'polo'
str1.isprintable()
#all characters must ableto be printed
#(returans false for escape characters)

True

In [27]:
str1 = 'lion king'
str1

'lion king'

In [28]:
                                              MODULE = 3

In [29]:
#list

In [30]:
#characteristics
#ordered,indexed,mutable
#all dtdatypes
#single element,single,item

In [31]:
list1 = [4,5,6,1,2,3,4]
list1[2]#accessing the element eith index value 
#list[2:28]#length then if will consider up to end

6

In [32]:
list1 = ['p','r','i','f',3,5.6]
list1.append('vijay')#inline change
print(list1)

['p', 'r', 'i', 'f', 3, 5.6, 'vijay']

In [33]:
list1 = ['p','r','i','f',3,5.6]
list1.extend('vijay')#extend(iterable)
print(list1)

['p', 'r', 'i', 'f', 3, 5.6, 'v', 'i', 'j', 'a', 'y']

In [34]:
list1 = [2,3,4,5]
list1.clear()#removes all the elements from the list
print(list1)

[]

In [35]:
list2 = [43,23,45,5,6]
copied_list = list2.copy()#returns a copied list
print(copied_list )

[43, 23, 45, 5, 6]

In [36]:
list1 = [43,23,45,5,6]
list1.index(23)
#index(element)//(emement.star,stop)
#if element is no found thenfaises an error

1

In [37]:
list1 = [3,4,5]
list1.insert(1,'krishil')#insert(index,element)
print(list1)

[3, 'krishil', 4, 5]

In [38]:
#removes the last element by defalt,
#if index is given then it removes element from that index value
list1 = [4,5,6,34,45,656,5,7]
list1.remove(5)
list1

[4, 6, 34, 45, 656, 5, 7]

In [39]:
list1 = [223,43,532,6]
list1.reverse()#reverse the order of the list
list1

[6, 532, 43, 223]

In [40]:
#ascending order
#list1.sort(reverse = True)
list1 = [34,23,45]
list1.sort()
list1

[23, 34, 45]

In [41]:
#taple
#oreved,indexed,allow duplicates,immutable
#tf tuple has only put comma at the end

In [42]:
t1 = (2,3,4,5,6,7,89,9,4,34,3,4,2,3,4)
z = ('zeel',)
x = t1[1:]
print(z)

('zeel',)

In [43]:
t1 = (1,2,3,4)
t2 = (4,5,6,7)
res = t1+t2
print(res)

(1, 2, 3, 4, 4, 5, 6, 7)

In [44]:
#tuple packing, tuple unpacking
t1 = (34,45,56)#tuple defing,tuple pack
t1,var,er,ytr = (4,5,6,7)#tuple unpacking
print(ytr)

7

In [45]:
tuplel = (23,34,45,56,34,45,45,45)
tuplel.count(45)

4

In [46]:
t3 = ('a','f','a','b',"'a',")
t3.count("'a',")

1

In [47]:
t4 = (4,5,4,4,5,4,4,4,456,768)
t4.index(5)
#finds the index value of given element 
#left to fight first occurence

1

In [ ]:
#set

In [ ]:
#characteristics
#unordered,mutable,Does no ollow duplicate values
#we can stare only immutable datatypes in set

In [7]:
set1 = {-67,89,3.4,90,3.4}
for i in set1:
    print(i)

89
90
3.4
-67

In [9]:
set1 = {23,6.7,True,'abcd',(23,45,54)}
set1

{(23, 45, 54), 23, 6.7, True, 'abcd'}

In [13]:
set1 = {23,546,67}
set2 = {56,34,56}

set1.add('khushal')#adds the single element to the set
set1

{23, 546, 67, 'khushal'}

In [14]:
set1 = {23,546,67}
set2 = {56,34,56}

set1.update('khushal')#adds all the element one bnby one 
set1

{23, 546, 67, 'a', 'h', 'k', 'l', 's', 'u'}

In [16]:
set1 = {'a','k','i','eric'}
set2 = {'eric','k','nitin'}

set1.clear()#removes all the elements from the set
set1

set()

In [18]:
set1 = {'a','k','i','eric'}
set2 = {'eric','k','nitin'}

set1.copy()#removes a copy of a new set
set1

{'a', 'eric', 'i', 'k'}

In [22]:
set1 = {'a','k','i','eric'}
set2 = {'eric','k','nitin'}
 
set1.difference(set2)
set1

{'a', 'eric', 'i', 'k'}

In [21]:
set1 = {'a','k','i','eric'}
set2 = {'eric','k','nitin'}

set1.difference_update(set2)
set1

{'a', 'i'}

In [29]:
set1 = {45,34,452,67}
set2 = {45,23,451,56}
#removes the element which is given
set1.discard('krishil')#does not raise an error
set1

{34, 45, 67, 452}

In [4]:
set1 = {45,34,452,67}
set2 = {45,23,451,56}
#removes the element which is given
set1.remove('krishil) #raises an error when elements is not found

KeyError: {56, 451, 45, 23}

In [38]:
set1 = {45,0,34,452,67}
set2 = {4.5,0,23,451,56}

set1.intersection(set2)#returns a set containing common values

{0}

In [40]:
set1 = {45,0,34,452,67}
set2 = {4.5,0,23,451,56}

set1.intersection_update(set2)#updates the output into the set1 
set1

{0}

In [45]:
s1 = {34,5,6,23,45,7}
s2 = {5,6,72,2889}

s1.pop()#removes the element and returns it

34

In [46]:
s1 = {34,5,6,23,45,7}
s2 = {5,6,72,2889}

s1.symmetric_difference(s2)#returns the set cantaining non common values

{7, 23, 34, 45, 72, 2889}

In [6]:
s1 = {34,5,6,23,45,7}
s2 = {5,6,72,2889}

s1.symmetric_difference_update(s2)#inline change

In [47]:
s1 = {34,5,6,23,45,7}
s2 = {5,6,72,2889}

s1.union(s2)#returns a set conatiting all the values of both set

{5, 6, 7, 23, 34, 45, 72, 2889}

In [48]:
s1 = {'a','b','c','d'}
s2 = {'b','d'}
#s1 is disjoint of s2
s1.isdisjoint(s2)#checks whether both sets are disjoint set or not

False

In [49]:
s1 = {'a','b','c','d'}
s2 = {'b','d'}
#s1 is disjoint of s2
s1.issubset(s2)

False

In [50]:
s1 = {'a','b','c','d'}
s2 = {'b','d'}
#s1 is disjoint of s2
s1.issuperset(s2)

True

In [ ]:
#dictionary

In [48]:

#chalycteristics
#ordered,mutable,keys shoutd be unique
#single pair is and element litem key:value
#bey = immutable datatypes 
#value = all datatypes

In [ ]:
immutable datatypes
#tuple,string,float,int,bool

mutable datatypes
#list,dictionary,set

In [ ]:
dict1 = {'apple':'a fruit','staircase':'steps'}
dict1 = ('apple')

In [ ]:
d1 = {'a':23,'b':23,'a':990,'k':23}
len(d1)
#d1['k']
#print(d1)

In [ ]:
d1 = {'a':23,'b':23,'c':23,'a':888,'k':23}
for i in d1:
    print(i)

In [ ]:
marksheet = {'khushal':78,'jeel':80,'vijay':40}
for key in marksheet:
    print(key,':',marksheet[key])

In [ ]:
marksheet = {'khushal':78,'jeel':80,'vijay':40}
marksheet['krishail'] = 0
marksheet['jenil'] = 0
marksheet.clear()#removes all the elements(pairs)
print(marksheet)

In [ ]:
marksheet = {'khushal':78,'jeel':80,'vijay':40}
marksheet.copy()

In [ ]:
marksheet = {'khushal':78,'jeel':80,'vijay':40}
marksheet.get('jeel')#gets the value of given key

In [ ]:
marksheet = {'khushal':78,'jeel':80,'vijay':40}
for i in marksheet.keys():#only keys in list
    print(i)

In [ ]:
marksheet = {'khushal':78,'jeel':80,'vijay':40}
for i in marksheet.values():#only values in a list
    print(i)

In [ ]:
d1 = {'1':12,'a':34,'r':23,False:234,0:888}
#len(d1)
print(d1)

In [ ]:
d2 = {1:34,True:888}
d1 = {False:234,0:888}
len(d1)
print(d2)
#True and 1 are eaud dict keys
#False and 0 are eaual dict keys

In [ ]:
d1 = {'a':90,'b':78}
d1.pop('a')#removes the item of wihch key is given

In [ ]:
d1 = {'a':90,'b':78}
d1.popitem()#removes the last element lithem
d1

In [ ]:
d1 = {'a':90,'b':78}
d1.update({'krishil':23,'jenil':45})
print(d1)

In [ ]:
d1 = {'a':None,'d':None}
d1.fromkeys([2,3,4,5])

In [ ]:
dd1 = {'a':45,'b':56}
dd1.setdefault(1,'op in the chat')
dd1
#kuch ahi : None

In [ ]:
#function : block of code which will do the work when I call it
#one time define 
#whenever we want , how many times we want it will work everytime

In [ ]:
1.Training (defination | define)
2.caling

In [ ]:
def shampoo (a): #parameters
    return a ** 2
shampoo (3)  #arguments

In [ ]:
None : null value (nothing,kal nahi)
None keword

In [ ]:
def summition (var1,var2):  #by defalut fucntion returns None
    c = var1 + var2
    return c
summition(34,45)

In [51]:
def gfg (no_of_lines):
    for i in range(no_of_lines - no_of_lines//2):
        str1 = ''
        for j in range(i+1):
            str1 +='* '
        upper = str1.center(no_of_lines)
        print(upper)
    
    for a in range(no_of_lines - no_of_lines//2-1,0,-1):
        str1 = ''
        for b in range(a):
            str1 +='* '
        lower = str1.center(no_of_lines)
        print(lower)

In [52]:
gfg(7)

   *
  * *
 * * *
* * * *
 * * *
  * *
   *

In [ ]:
1.User Defined
2.Built - in
3.Anonymovs

In [54]:
def f1(a):  #a = 45
    var1 = a  #var1 =45
    print(var1)
f1(45)

45

In [55]:
t1 = 90
def f1(a):
    var1 = 45  #(nonlocal scope for f2)
    multiply = 6
    def f2 (num):#(f2 nolocal scope)
        print(multiply)
        add1 = multiply
        print(var1)
    f2(a)
f1(3)

6
45

In [2]:
fg = 56
def f1(a): #a = 45
    var1 = a #var1 = 45
    x = 10 
    print(y)
    print(var1)
def f1(a):
    y =20
    print(y)
f1(45)

20

In [4]:
t1 = 90
def f1(a):
    var1 = 45 #(nonlocal  scope for f2)
    multiply = 6
    def f2 (num):
        #(f2 nolopcal scope)
        print(multiply)
        add1 = multipay 
        print(var1)
    f2(a)
f1(3)

6

NameError: name 'multipay' is not defined

In [6]:
jeel = 100
def d1():
    l1 = 89
    print('this')
    def g1():
        print(l1)
        print('local scope of g1')
        print('line2')
    g1()
    print(jeel)
d1()
print(l1)

this
89
local scope of g1
line2
100

NameError: name 'l1' is not defined

In [ ]:
1.User Defined - user defined the function and calls the function
2.Built - In - already defined functions,we just have to calls it
3.Anonymous

In [5]:
#Built - In

#1.print()
#2.type()
#3.len()
#4.list(range(l1))
#5.float(12)
#6.int(2.99)
#7.list()
#8.set()
#9.tuple()
#10.dict()
#11.round()
#12.ord()

# ~ tilde
# ^ cap
# ` bark tick
# ! exclamation mark
# | pipe

#13.chr(94)
#l1 = [123,12,23,3,5,5,5,56,6,6,63]
#syntax:
#filter (function,collection)
#def fun1 (z):
#    if z % 2 == 0:
#        return True
#    else:
#        return False
#list(filter(fun1,l1))

#syntax:
#map(function,collection)
#list =[23.99,'56',7.6,44.67,87]
#list(map(int,list))

#def ff1 (d):
#    return d * 2
#list(map(ff1,list1))

#14.zip()
#syntax
#zip(collection,collection)
#list(zip([1,2,3],['a','b','c']))

#15.eval()
#eval(str1)(evaluate)
#eval('23 + 89 * 6 / 89 * 34 + 1 - 45')
#str1 = 'krishil'
#eval('str1.title()')

#16.isinstance()
#isinstance(value,datatypes)
#isinstance({'9a':90},dict)

#17.max()
#max(iterable)
#max([34,-23,34,23,56,78,900,-12345,7854])

#18.min()
#min([34,-23,34,23,56,78,900,-12345,7854])

-12345

In [6]:
d1 = {'a':45,'b':67,'c':89}
d1[0] = 'khushal'
d1[12] = 'baar'
d1[False] = 'lion'
d1[1] = 'one'
d1['df'] = 'ywue'
d1[1] = 'updated one'
d1

{'a': 45,
 'b': 67,
 'c': 89,
 0: 'lion',
 12: 'baar',
 1: 'updated one',
 'df': 'ywue'}

In [ ]:
l1 = []
t1 = ()
s1 = {} #empty dict
d1 = {} #empty dict     
h = set() #empty set
len(h)

In [ ]:
#3.Anonymous function (Lambda function)

#expression : something which returns some value
#syntax:
#lambda parameters : single expresion

In [ ]:
I.M.P # MULTIPLE PARAMETERS,SINGLE EXPRESSION

In [1]:
#var1 = lambda a,b : a<b
var1 = lambda a,b : a + b
var1(1,3)

4