In [3]:
#1.What is List? How will you reverse a list?

str1 = [1,2,3,4,5,6,7,8,9,10]
str1.reverse()
print(str1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [2]:
#2.How will you remove last object from a list?

list1 = [ 1, 2, 1, 1, 4, 5 ]
list1.remove(1)
print(list1)

[2, 1, 1, 4, 5]

In [2]:
#3.Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?

list1 = [2, 33, 222, 14, 25]
list1[-1]

25

In [3]:
#4.Differentiate between append () and extend () methods?

str1 = 'phtyon'
list1 = [1,2,3,4]
list1.append(str1)
print(list1)
list1.extend(str1)
print(list1)

[1, 2, 3, 4, 'phtyon']
[1, 2, 3, 4, 'phtyon', 'p', 'h', 't', 'y', 'o', 'n']

In [ ]:
#5.Write a Python function to get the largest number,smallest num and sum of all from a list.

In [7]:
#6.How will you compare two lists?

list1 = [1, 2, 3, 4, 5]
list2 = [1, 2, 3, 4, 5]

if list1 == list2:
        print(False)
else:
    print(True)

False

In [10]:
#7.Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings 

list1 = input()
list1 = list1.split(' ')
print(list1)
count = 0
for element in list1:
    if len(element)>=2 and element[0]==element[-1]:
        count = count + 1
print(count)

423657
['423657']
0

In [8]:
#8.Write a Python program to remove duplicates from a list.

str1 = [1, 2, 3, 2, 4, 8, 9, 1, 7, 6, 4, 5]
print(str1)

var1 = set(str1)
list1= list(var1)
   
print(list1)

[1, 2, 3, 2, 4, 8, 9, 1, 7, 6, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
#9.Write a Python program to check a list is empty or not.

list1 = [1,3,5]

if len(list1) == 0:
    print("Empty list")
else:
    print("Not Empty list")

Not Empty

In [ ]:
#10.Write a Python function that takes two lists and returns true if they have at least one common member

In [13]:
#11.Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30.

list1 = []
for i in range(1,31):
    list1 = list1 + [i*i]
print(list1)
new_list = list1[:5] + list1[-5:]
print('new list :-',new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]
new list :- [1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

In [ ]:
#12.Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [15]:
#13.Write a Python program to convert a list of characters into a string.

list1 = ['j','e','e','l']
str1 = ''
for i in list1:
    str(i) 
    str1 = str1 + i
print(str1)

jeel

In [ ]:
#14.Write a Python program to select an item randomly from a list.

In [16]:
#15.Write a Python program to find the second smallest number in a list.

list1 = [1,2,3,4,9,5,6,-2,-3,7,8]
a = min(list1)
list2 = []
for i in list1:
    if i==a:
        continue
    else:
        i = [i]
        list2 = list2 + i
print(list2)
print(min(list2))

[1, 2, 3, 4, 9, 5, 6, -2, 7, 8]
-2

In [17]:
#16.Write a Python program to get unique values from a list

list1 = [1,2,3,"python",[1,2]]
unique = ''
for i in list1:
    if list1.count(i)==1:
        unique = unique +' '+ str(i)
    else:
        pass
print(unique)

 1 2 3 python [1, 2]

In [20]:
#17. Write a python program to check whether a list contains a sublist

list1 = [5,6,3,9,5,7,1,2,3,4,5,6]
sub_list = [3,4,5,7]
string = ''
sub_string = ''
for i in list1:
    i=str(i)
    string = string + i
print(string)
for i in sub_list:
    i=str(i)
    sub_string = sub_string + i
print(sub_string)
if sub_string in string:
    print()
else: 
    print()
a = 90
b = str(a)
print(type(a))
print(type(b))
print(a)
print(b)

563957123456
3457

<class 'int'>
<class 'str'>
90
90

In [21]:
#18. Write a python program to split a list into different variables

list1 = [1,2,3,4]
l1 = list1[0]
l2 = list1[1]
l3 = list1[2]
l4 = list1[3]
print(l1,l2,l3,l4)

1 2 3 4

In [ ]:
#19.What is tuple? Difference between list and tuple.

In [22]:
#20. Write a python program to create a tuple with different data types.

tuple1 = (1,2,'yg',5.6,['apple',34,6.7],{1,2,3},{'y':33,'ha':98},(5,6,7))
print(tuple1)

(1, 2, 'yg', 5.6, ['apple', 34, 6.7], {1, 2, 3}, {'y': 33, 'ha': 98}, (5, 6, 7))

In [23]:
#21. Write a Python program to create a tuple with numbers.

t1 = (1,2,3,4,5)
t2 = (23,)
print(t1)
print(t2)

(1, 2, 3, 4, 5)
(23,)

In [24]:
#22. Write a Python program to convert a tuple to a string.


tuple1 = (1,2,3,4,5,[1,23],('yug',),{'neha':98},{1,2,'yug'})
string = ''
for i in tuple1:
    i = str(i)
    string = string + i
print(string)
type(string)

12345[1, 23]('yug',){'neha': 98}{1, 2, 'yug'}

str

In [26]:
#23. Write a python program to  check whether an element exists within a tuple.


tuple1 = (1,2,3,(23,),42,'yug',4.4,{'yug':99},[9,8,7])
element = (23,)
if element in tuple1:
    print('Element exist')
else:
    print('Element don\'t exist')

Element exist

In [33]:
#24. Write a Python program to find the length of tuple.

tuple1 = (1,2,3,4,5,65)
length = len(tuple1)
print(length)

6

In [29]:
#25. Write a Python program to convert a list to a tuple.

list1 = [1,2,3,4,5]
list1 = tuple(list1)
print(list1)
print(type(list1))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [30]:
#26. Write a python program to reverse a tuple.

tuple1 = (1,2,3,4,5,6)
tuple1 = tuple1[-1::-1]
print(tuple1)

(6, 5, 4, 3, 2, 1)

In [31]:
#27. Write a python program to replace last value of tuples in a list.

T1 = (1,2,3,4,5)
L1 = list(T1)
L1[-1] = list([L1[-1]])
T1 = tuple(L1)
print(T1)
print(type(T1[-1]))

(1, 2, 3, 4, [5])
<class 'list'>

In [32]:
#28. Write a python program to find the repeated items of tuple.

tuple1 = (1,2,3,4,3,1)
repeated = ''
non_repeated = ''
for item in tuple1:
    item = str(item)
    if item in non_repeated:
        repeated = repeated + item
    else:
        non_repeated = non_repeated + item
repeated = tuple(repeated)
print(repeated)

('3', '1')

In [35]:
#29. Write a python program to remove an empty tuple(s) from a list of tuples.

list_of_tuples = [(1,2),(    ),('python','tandel'),(),(34,4.5,[0,9])]
for i in list_of_tuples:
    if len(i)==0:
        list_of_tuples.remove(i)
    else:
        continue
print(list_of_tuples)

[(1, 2), ('python', 'tandel'), (34, 4.5, [0, 9])]

In [36]:
#30.Write a python program to unzip a list of tuples into individual lists.

list_of_tuples = [(1,2),(    ),('python','tandel'),(),(34,4.5,[0,9])]
(t1,t2,t3,t4,t5) = list_of_tuples

t1 = list(t1)
t2 = list(t2)
t3 = list(t3)
t4 = list(t4)
t5 = list(t5)
print(t1)
print(t2)
print(t3)
print(t4)
print(t5)

[1, 2]
[]
['python', 'tandel']
[]
[34, 4.5, [0, 9]]

In [37]:
#31.Write a python program to convert a list of tuple into dictionary.

tuple_list = [(1,'one'),(2,'two'),(3,'three')]
n = {}
n.update(tuple_list)
tuple_list = n.copy()
print(tuple_list)

{1: 'one', 2: 'two', 3: 'three'}

In [38]:
#32.How will you create a dictionary using tuples in python?

tup = ((1,'one'),(2,'two'))
tup = list(tup)  # [(1,'one'),(2,'two')]
n = {}
n.update(tup)
tup = n.copy()
print(tup)

{1: 'one', 2: 'two'}

In [39]:
#Q33. Write a Python script to sort(acending and decending) a dictionary  by value

dictionary = {1:'one',2:'two',3:'three',4:'four',5:'five'}

print(dictionary)
list1 = list(dictionary.items())
list2 = []

for i in list1:
    i = list(i)
    i.reverse()
    list2.insert(0,i)

list2.reverse()
list2.sort()
count = 0
list3 = []

for i in list2:
    i.reverse()
    list3.insert(0,i)
    count = count + 1  
    
list3.reverse()   
dictionary_2 = {}
dictionary_2.update(list2)
dictionary.clear()
dictionary = dictionary_2.copy()
print(dictionary)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
{5: 'five', 4: 'four', 1: 'one', 3: 'three', 2: 'two'}

In [40]:
#34.Write a python script to concatenate following dictionaries to create a new one.

person = {'name':'yug','age':22}
add_on = {'salary':56.00,'gender':'male'}
new_one = list(person.items()) + list(add_on.items())
print(dict(new_one))

{'name': 'yug', 'age': 22, 'salary': 56.0, 'gender': 'male'}

In [41]:
#35.Write a python script to check if a given key already exists in a dictionary.

dict1 = {1:'one',2:'two'}
given_key = 12
if given_key in dict1:
    print('key already exist')
else:
    print('key doesn\'t exist')

key doesn't exist

In [44]:
#36.How do you traverse through a dictionary object in python?

dictionary = {'name':'jeel','age':18,'gender':'male','salary':'1-lakh'}
for (key,value) in dictionary.items():
    print(key,value)

name jeel
age 18
gender male
salary 1-lakh

In [45]:
#37.How do you check the presence of a key in a dictionary?

d1 = {1:1, 2:2, 3:3, 4:4, 5:5}
key = 34
if key in d1:
    print(key,d1)
else:
    print(key,d1)

34 {1: 1, 2: 2, 3: 3, 4: 4, 5: 5}

In [46]:
#38.Write a Python script to print a dictionary where the keys are numbers between 1 and 15

dictionary = {}
alpha = ' abcdefghijklmnopqrstuvwxyz'
for i in range(1,16):
     dictionary.setdefault(i,alpha[i])
print(dictionary)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g', 8: 'h', 9: 'i', 10: 'j', 11: 'k', 12: 'l', 13: 'm', 14: 'n', 15: 'o'}

In [47]:
#39.Write a python program to check multiple keys exists in a dictionary

dict1 = {1:'one',2:'two',3:'three',1:'two'}
list1 = list(dict1)
print(list1)
for i in dict1:
    print(i)

[1, 2, 3]
1
2
3

In [49]:
#40.Write a python script to merge two python dictionaries

d1 = {'name':'jeel','age':18}
d2 = {'gender':'male','salary':1234556.00}
d1.update(d2)
print(d1)

{'name': 'jeel', 'age': 18, 'gender': 'male', 'salary': 1234556.0}

In [50]:
#41.Write a python program to map two lists into a dictionary

keys = ['apple','mango','oranges','grapes']
values = [2,4,5,32]
dictionary = {}
for i in range(len(values)):
    dictionary.setdefault(keys[i],values[i])
print(dictionary)

{'apple': 2, 'mango': 4, 'oranges': 5, 'grapes': 32}

In [51]:
#42.Write a python program to combine two dictionary adding values for common keys.

d1 = {'a':100,'b':200,'c':300}
d2 = {'a':300,'b':200,'d':400}
temp = d1.copy()
temp.update(d2)
print(temp)

for key in d1:
    if key in d2:
        temp[key] = d1[key]+d2[key]
print(temp)

{'a': 300, 'b': 200, 'c': 300, 'd': 400}
{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [52]:
#43.Write a python program to print all the unique values in the dictionary

d1 = {1:'one',2:'two',3:'three',4:'two','name':'yug','apple':2,'id':'yug'}
values = list(d1.values())
temp = ''

print(values)
for idx in values:
    if values.count(idx)==1:
        temp = temp + str(idx) + ' '

    else:
        continue
print('Uniques Values are :- ',temp.split())

['one', 'two', 'three', 'two', 'yug', 2, 'yug']
Uniques Values are :-  ['one', 'three', '2']

In [ ]:
#44.Why Do You Use the zip() Method in Python?

In [53]:
#45.Write a python program to create and display all combinations of letters,selecting each letter from a different key in a dictionary.

count = 0
d = {1:['a','b'], 2:['c','d']}
l = list(d.values())
print(l)
count = 0
j = 0
for i in range(0,len(l[0])*len(l[1])):
    if count >= len(l[1]):
        print(l[0][1] + l[1][j])
        j = j+1
        if j == len(l[1]):
            j = 0
    else:
        print(l[0][0] + l[1][j])
        j = j+1
        if j == len(l[1]):
            j = 0
    count = count + 1

[['a', 'b'], ['c', 'd']]
ac
ad
bc
bd

In [54]:
#46.Write python program to find the highest 3 values in a dictionary

numbers = {'a':34,'b':25,'c':68,'d':98,'e':13,'f':1,'g':100}
values = list(numbers.values())
print(values)
values.sort(reverse=True)
print(values[0])
print(values[1])
print(values[2])

[34, 25, 68, 98, 13, 1, 100]
100
98
68

In [55]:
#47.Write a python program to combine values in python list of dictionaries.
# sample data: [{'item':'item1','amount':400},{'item':'item2','amount':'300},
#              {'item':'item1','amount':750}]
# Expexted output :

d1 = {1:'one'}

print(d1.keys())
print(d1)
for i in d1:
    i = d1[i]
    print(i)
print(d1)

dict_keys([1])
{1: 'one'}
one
{1: 'one'}

In [56]:
#48.Write a Python program to create a dictionary from a string.

string = 'w3resource'
dictionary = dict.fromkeys(string,1)
for key in dictionary:
    dictionary[key] = string.count(key)
print(dictionary)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [57]:
#49.Write a Python function to calculate the factorial of a number(a non-negative integer)

def factorial(num):
    for i in range(1,num): 
        num = num * i
    return num

print(factorial(5))

120

In [58]:
#50.Write a Python function to check whether a number is in a given range

def find_num(rng,num):
    if num in rgn:
        print(num)
    else:
        print(num)

start = int(input())
stop = int(input())
number = int(input())
if start > stop :
    rgn = range(start,stop+1,-1)
else:
    rgn = range(start,stop+1)
    
find_num(rgn,num = number)

869
66
6860
6860

In [59]:
#51.Write a Python function whether a number is perfect or not.

def perfect_number(num,summ):
    for i in range(1,num):
        if num % i == 0:
            summ = summ + i
        else:
            pass
    if summ == num:
        print(num)
    else:
        print(num)

num = int(input('enter number : '))
perfect_number(num,0)

enter number : 56
56

In [60]:
#52.Write a Python function that checks whether a passed string is palindrome or not

def palindrome(string):
    if string == string[len(string)::-1]:
        print(string)
    else:
        print(string)

string = input('enter a string : ')    
palindrome(string)

enter a string : 'fdrkdjdjdjdjsnsj'
'fdrkdjdjdjdjsnsj'

In [ ]:
#54.What is lambda function in python? What we call a function which is incomplete version of a  function?

In [ ]:
#55.How many Basic Types of functions are available in python?

In [ ]:
#61.Write a python program to read a random number from a file

In [61]:
#62.Write a python function to convert degree to radian

def convert_to_rad(deg):
    print(deg,'degree =',deg * 0.0174533,'radian' )

degree = int(input())
convert_to_rad(degree)

456
456 degree = 7.9587048000000005 radian

In [62]:
#63.Write a python program to calculate the area of a trapezoid

def area_of_trapezoid(upper,lower,height):
    trap = (upper + lower) * (height/2)
    print(trap)

upper_base = float(input())
lower_base = float(input())
height = float(input())

area_of_trapezoid(upper_base,lower_base,height)

455656
456
4365
995464440.0

In [65]:
#64.Write a Python program to calculate the area of parallelogram

def area_of_parallelogram(base,height):
    print(base*height)

base = float(input('enter base : '))
height = float(input('enter height : '))

area_of_parallelogram(base,height)

enter base : 4
enter height : 5
20.0

In [66]:
#65.Write a python program to calculate surface volume and area of a cylinder

def volume_of_cylinder(pi,r,h):
    print(pi*r*r*h)

def area_of_cylinder(pi,r,h):
    print(2*pi*r*(h+r))
    
pi = 3.14
radius = float(input('enter radius : '))
height = float(input('enter height : '))
volume_of_cylinder(pi,radius,height)
area_of_cylinder(pi,radius,height)

enter radius : 2
enter height : 3
37.68
62.800000000000004

In [67]:
# Q66. Write a python program to returns sum of all divisors of a number

def divisor_sum(num,summ):
    for i in range(1,num+1):
        if num%i==0:
            summ = summ + i
        else:
            pass
    return summ

number = int(input('enter number : '))
print(divisor_sum(number,0))

6
12

In [68]:
#67.Write a python program to find the maximum and minimum numbers from the specified decimal numbers

str1 = 'asdfsad'
str1.find('23')

-1

In [69]:
print('1 2 3')
dict1 = {'a':1,'b':2,'c':2}
v = dict1.values()
print(list(v))

1 2 3
[1, 2, 2]

In [1]:
print(str([1, 2, 2]))
print('')

[1, 2, 2]